Repository bcoin-org/bcoin, pull requests merged in 2019-09, with the labels that each got.

#781 txdb: Ignore coin if it suddenly doesn't exist
  lib/wallet/txdb.js
Labels: ready for review, wallet

#820 docs: debian/ubuntu build dependencies
  docs/getting-started.md
Labels: docs

#833 pkg: bump version to 2.0.0-dev
  package.json
Labels: quick

#847 Fix minor typo
  lib/primitives/mtx.js
Labels: docs, quick

#829 Create txdb credit for known key paths when confirming
  lib/wallet/txdb.js
  test/wallet-test.js
Labels: bug, wallet
